<%= form_with(model: caption) do |form| %>
  <% if caption.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(caption.errors.count, "error") %> prohibited this caption from being saved:</h2>

      <ul>
        <% caption.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.label :timestamp, style: "display: block" %>
    <%= form.text_field :timestamp %>
  </div>

  <div>
    <%= form.label :video_id, style: "display: block" %>
    <%= form.text_field :video_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
