<p style="color: green"><%= notice %></p>

<%= render @caption %>

<div>
  <%= link_to "Edit this caption", edit_caption_path(@caption) %> |
  <%= link_to "Back to captions", captions_path %>

  <%= button_to "Destroy this caption", @caption, method: :delete %>
</div>
